@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: poppins;
}

.container{
    padding: 0 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}